extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4(role='navigation')
    div.container
      a.navbar-brand(href='#') BlockChain Emergencias
      nav.navbar.navbar-dark.bg-dark
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggleExternalContent", aria-controls="navbarToggleExternalContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
      div.collapse.navbar-collapse(id="navbarToggleExternalContent")
        form.form-inline
          div.form-group.mr-md-2
            input.form-control.form-control-sm(id="emailInput", placeholder="Email", type="email", pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}", required)
          div.form-group.mr-md-2
            input.form-control.form-control-sm(id="passwordInput", placeholder="Contraseña", type="password", required)
          div.col-12.col-md-auto.p-0
            button.btn.btn-primary.mr-2(type="submit") Login
            button.btn.btn-secondary.mr-sm-2(href="#") Registrarse
          div.col-12.col-md-auto.p-0
            small
              a(href="#", data-toggle="modal", data-target="#modalPassword") ¿contraseña olvidada?
                


  main.container(role='main')
    .jumbotron
      h1 Blockchain Emergencias
      p.lead
        | Aplicación de Blockchain a situaciones de emergencias 
    .container
    
    .row
      .col-md-12
        form(action='/')
         .form-group
          label(for='tipo')
           strong Tipo de Emergencia
          select.form-control(id='tipo', onclick='mostrar_otro()', required)
            option Accidente de Trafico
            option Incendio
            option Homicidio
            option Desaparición
            option Robo
            option Otro

         div(id='otro_oculto', style='display:none;')
          .form-group
            label(for='tipo')
            strong Especificar tipo de emergencia
            input#tipo.form-control(type='text' placeholder='Ingresar tipo de emergencia', required)

         .form-group
          label(for='latitud')
           strong Latitud
          input#latitud.form-control(type='text' placeholder='Ingresar latitud', required)

         .form-group
          label(for='longitud')
           strong Longitud
          input#longitud.form-control(type='text' placeholder='Ingresar longitud', required)

         .form-group
          label(for='ambulancias')
           strong Número de ambulancias
          input#ambulancias.form-control(type='text' placeholder='Ingresar el número de ambulancias')

         .form-group
          label(for='bomberos')
           strong Número de camiones de bomberos
          input#bomberos.form-control(type='text' placeholder='Ingresar el número de camiones de bomberos')
         
         .form-group
          label(for='policias')
           strong Número de policias
          input#policias.form-control(type='text' placeholder='Ingresar el número de policias')

         .form-group
          label(for='notas')
           strong Notas
          textarea#notas.form-control(rows='5')
          br  
          button.btn.btn-primary(type='submit') Enviar
  script.
    function mostrar_otro(){if(document.getElementById("tipo").value=="Otro"){document.getElementById('otro_oculto').style.display = 'block';}else{document.getElementById('otro_oculto').style.display = 'none';}}
