extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4(role='navigation')
    div.container
      a.navbar-brand(href='#') BlockChain Emergencias
      nav.navbar.navbar-dark.bg-dark
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
      div#navbarToggleExternalContent.collapse.navbar-collapse
        if isAuthenticated 
          form.form-inline.text-white
            div.col-12.col-md-auto.p-0
              a(href='solicitud')
                button.btn.btn-primary.mr-2(type='button') Emergencia
              a(href='cierre_sesion')
                button.btn.btn-secondary.mr-2(type='button') Cerrar sesión
        else
          form.form-inline(action='/', method='post', autocomplete='off')
            div.form-group.mr-md-2
              input#emailInput.form-control.form-control-sm(placeholder='Email', type='email', pattern='[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}', name='username', required)
            div.form-group.mr-md-2
              input#passwordInput.form-control.form-control-sm(placeholder='Contraseña', type='password', name='password', required)
            div.col-12.col-md-auto.p-0
              button.btn.btn-primary.mr-2(type='submit') Login
              a(href='registro')
                button.btn.btn-secondary.mr-sm-2(type='button') Registrarse
            div.col-12.col-md-auto.p-0
              small
                a(onclick='show_forgotten_password_modal()', href='#') ¿contraseña olvidada?
                


  main.container(role='main')
    if message.length > 0
      div.alert.alert-success(role='alert') Se ha registrado satisfactoriamente
    if authmessage.length > 0
      div.alert.alert-danger(role='alert') Email o contraseña incorrecta
    .jumbotron
      h1 Blockchain Emergencias
      p.lead
        | Aplicación de Blockchain a situaciones de emergencias 
    .container
    
    p El objetivo principal del TFG es el desarrollo de una aplicación capaz de poder decidir en tiempo real qué organizaciones pueden aportar qué recursos en una situación de emergencia, teniendo en cuenta aspectos como la distancia de estas con respecto a la emergencia ocurrida y si son capaces de aportar los recursos necesarios o si por el contrario solo son capaces de ofrecer parte de los solicitados o ninguno.
    p En el caso del abastecimiento de recursos de forma parcial, el aplicativo seria capaz de solicitarlos a la organización más cercana y el resto a la siguiente que se encuentre más cerca de la emergencia, obteniendo así una respuesta más veloz ante la situación de emergencia.
    p Además, la aplicación, facilitaría las comunicaciones entre el servicio de emergencias con las organizaciones que aportan los recursos, ya que todos los participes harían uso de la misma plataforma.
    div.row.justify-content-center
      div.col-md-6.col-12
        img.img-fluid.img-thumbnail(src='/img/Logo_ULL_2018.jpg', alt='ULL logo')
