doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/map.min.css')
  body
    block content
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/popper.js')
    script(src='js/map.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAR51eYlvnZn7xXA-4ZCdQW8CnDXTdy8NY&libraries=places&callback=initAutocomplete', async, defer)