extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4(role='navigation')
    div.container
      a.navbar-brand(href='/') BlockChain Emergencias
      nav.navbar.navbar-dark.bg-dark
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
      div.collapse.navbar-collapse(id='navbarToggleExternalContent')
        form.form-inline
          div.form-group.mr-md-2
            input.form-control.form-control-sm(id='emailInput', placeholder='Email', type='email', pattern='[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}', required)
          div.form-group.mr-md-2
            input.form-control.form-control-sm(id='passwordInput', placeholder='Contraseña', type='password', required)
          div.col-12.col-md-auto.p-0
            button.btn.btn-primary.mr-2(type='submit') Login
            a(href='#')
              button.btn.btn-secondary.mr-sm-2(type='button') Registrarse
          div.col-12.col-md-auto.p-0
            small
              a(href='#') ¿contraseña olvidada?
                


  main.container(role='main')
    .jumbotron
      h1 Formulario de Registro
      p.lead
        | Proceso de registro a la herramienta
    .container
    
    .row
      .col-md-12
        form
         .form-group
          label(for='email')
           strong Email
          input.form-control.form-control-sm(id='email_registration', placeholder='Email', type='email', pattern='[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}', required)

         .form-group
          label(for='password')
           strong Contraseña
          input.form-control.form-control-sm(id='password_registration', placeholder='Contraseña', type='password', required)

         .form-group
          label(for='organization')
           strong Nombre de la organización
          input.form-control.form-control-sm(id='organization', placeholder='Ingresar el nombre de la organización', type='text', required)

          .form-group
          label(for='location')
           strong Ubicación de la organización
          br
          button.btn.btn-secondary(type='button', onclick='getLocation()') Ubicación actual
          p(id='error_with_geolocation')
          input.form-control.form-control-sm(id='pac-input', type='text', placeholder='Introduzca la dirección postal', name='google_maps_input')
          div(id='map')
          strong Latitud
          input.form-control.form-control-sm(id='latitude', type='text', name='latitude', placeholder='Ingresar latitud', required)
          strong Longitud
          input.form-control.form-control-sm(id='longitude', type='text', name='longitude', placeholder='Ingresar longitud', required)
          .form-group
          label(for='ambulancias')
           strong Número de ambulancias
          input#ambulancias.form-control(type='number' placeholder='Ingresar el número de ambulancias')

         .form-group
          label(for='bomberos')
           strong Número de camiones de bomberos
          input#bomberos.form-control(type='number' placeholder='Ingresar el número de camiones de bomberos')
         
         .form-group
          label(for='policias')
           strong Número de policias
          input#policias.form-control(type='number' placeholder='Ingresar el número de policias')
          br  
          button.btn.btn-primary(type='submit',name='test_button') Enviar