extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4(role='navigation')
    div.container
      a.navbar-brand(href='/') BlockChain Emergencias
      nav.navbar.navbar-dark.bg-dark
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
      div#navbarToggleExternalContent.collapse.navbar-collapse
        form.form-inline.text-white
            div.col-12.col-md-auto.p-0
              a(href='solicitud')
                button.btn.btn-primary.mr-2(type='button') Emergencia
              a(href='cierre_sesion')
                button.btn.btn-secondary.mr-2(type='button') Cerrar sesión
                

  main.container(role='main')
    if message.length > 0
      div.alert.alert-success(role='alert') Se ha registrado satisfactoriamente
    .jumbotron
      h1 Formulario para emergencia
      p.lead Proceso de solicitud de recursos para una emergencia
    .container
    
    .row
      .col-md-12
        form
          .form-group
            label(for='type') 
              strong Tipo de Emergencia
            select#type.form-control(onclick='show_other()', required)
              option(value='', selected, disabled) Por favor seleccione un tipo
              option Accidente de Trafico
              option Incendio
              option Homicidio
              option Desaparición
              option Robo
              option Otro

          div#other_hidden(style='display:none;')
            .form-group
              label(for='type')
                strong Especificar tipo de emergencia
              input#type.form-control(type='text' placeholder='Ingresar tipo de emergencia', required)

          .form-group
            label(for='alertant_type')
              strong Tipo de alertante
            select#alertant_type.form-control(onclick='show_affected_form()', required)
              option(value='', selected, disabled) Por favor seleccione un tipo
              option Propio afectado
              option Relacionado con el afectado
              option Externo

          label(for='alertant_data')
            strong Datos del alertante
          .form-row
            .form-group.col-md-4
              input#alertant_first_name.form-control(type='text', name='alertant_first_name', placeholder='Nombre', required)
            .form-group.col-md-4
              input#alertant_last_name.form-control(type='text', name='alertant_last_name', placeholder='Apellidos', required)
            .form-group.col-md-4
              input#alertant_phone.form-control(type='text', name='alertant_phone', placeholder='Número de teléfono', required)
          
          div#affected_form_hidden(style='display:none;')
            label(for='affected_data')
              strong Datos del afectado
            .form-row
              .form-group.col-md-4
                input#affected_first_name.form-control(type='text', name='affected_first_name', placeholder='Nombre')
              .form-group.col-md-4
                input#affected_last_name.form-control(type='text', name='affected_last_name', placeholder='Apellidos')
              .form-group.col-md-4
                input#affected_phone.form-control(type='text', name='affected_phone', placeholder='Número de teléfono')

          .form-group
            label(for='location')
              strong Ubicación de la emergencia
            br
            button.btn.btn-secondary(type='button', onclick='getLocation()') Ubicación actual
            p#error_with_geolocation
            input#pac-input.form-control.form-control-sm(type='text', placeholder='Introduzca la dirección postal', name='google_maps_input')
            div#map
            strong Latitud
            input#latitude.form-control(type='text', name='latitude', placeholder='Ingresar latitud', required)
            strong Longitud
            input#longitude.form-control(type='text', name='longitude', placeholder='Ingresar longitud', required)

          .form-group
            label(for='ambulances')
              strong Número de ambulancias
            input#ambulances.form-control(type='number' placeholder='Ingresar el número de ambulancias')

          .form-group
            label(for='firefighters')
              strong Número de camiones de bomberos
            input#firefighters.form-control(type='number' placeholder='Ingresar el número de camiones de bomberos')
         
          .form-group
            label(for='police')
              strong Número de policias
            input#police.form-control(type='number' placeholder='Ingresar el número de policias')
           
          button.btn.btn-primary(type='submit', href='#', onclick='set_resources()') Enviar
  script(src='js/form_emergency.min.js')
  script(src='node_modules/web3/dist/web3.min.js')
  script(src='js/smart_contract.js')
  script(src='js/map.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAR51eYlvnZn7xXA-4ZCdQW8CnDXTdy8NY&libraries=places&callback=initAutocomplete', async, defer)